body {
    font-family: "Roboto", sans-serif;
}

.header-logo{
font-family: "Releway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}


.page-footer {
    background: #2e2f42;
}

